# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
dist/
build/

# Mac OS
.DS_Store

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Hidden Files
PROJE_ANLATIM_REHBERI.md
FRONTEND_ANLATIM_REHBERI.md
GOREV4_RAPOR.md
